<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
<head>
    <meta charset="UTF-8">
    <title th:if="${productNotExist}" th:text="'Error'"/>
    <title th:if="!${productNotExist}" th:text="${product.name}"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/adminProducts.css">
</head>
<body>
<nav th:insert="html/fragment :: navbar"/>
<div class="container-fluid">
    <div th:if="${productNotExist}" class="productNotExist">Данного товара не существет</div>
    <div th:if="!${productNotExist}" class="row">
        <div class="col-xs-12 col-sm-6">
            <div class="img-thumbnail">
                <div class="imageWrap">
                    <img th:src="*{product.getPhoto()}"
                         alt="Card image cap">
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 edit">
            <form th:action="'/admin/product/edit/' + ${product.id}" method="post" enctype="multipart/form-data" class="col">
                <div class="field">
                    <label>Название: </label>
                    <input type="text" name="name" class="form-control" th:value="${product.name}">
                    <span th:if="${nameIsEmpty}">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                     class="bi bi-exclamation-circle-fill" viewBox="0 0 16 16">
                    <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8 4a.905.905 0 0 0-.9.995l.35 3.507a.552.552 0 0 0 1.1 0l.35-3.507A.905.905 0 0 0 8 4zm.002 6a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"/>
                </svg>
                Укажите имя товара
            </span>
                </div>
                <div class="field">
                    <label>Категория: </label>
                    <input type="text" name="category" class="form-control" th:value="${product.category}">
                    <span th:if="${categoryIsEmpty}">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                     class="bi bi-exclamation-circle-fill" viewBox="0 0 16 16">
                    <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8 4a.905.905 0 0 0-.9.995l.35 3.507a.552.552 0 0 0 1.1 0l.35-3.507A.905.905 0 0 0 8 4zm.002 6a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"/>
                </svg>
                Укажите категорию
            </span>
                </div>
                <div class="field">
                    <label>Производитель: </label>
                    <input type="text" name="producer" class="form-control" th:value="${product.producer}">
                    <span th:if="${producerIsEmpty}">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                     class="bi bi-exclamation-circle-fill" viewBox="0 0 16 16">
                    <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8 4a.905.905 0 0 0-.9.995l.35 3.507a.552.552 0 0 0 1.1 0l.35-3.507A.905.905 0 0 0 8 4zm.002 6a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"/>
                </svg>
                Укажите производителя
            </span>
                </div>
                <div class="field">
                    <label>Цена: </label>
                    <input type="text" name="price" class="form-control" th:value="${product.price}">
                    <span th:if="${priceIsEmpty}">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                     class="bi bi-exclamation-circle-fill" viewBox="0 0 16 16">
                    <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8 4a.905.905 0 0 0-.9.995l.35 3.507a.552.552 0 0 0 1.1 0l.35-3.507A.905.905 0 0 0 8 4zm.002 6a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"/>
                </svg>
                Укажите цену товара
                    </span>
                    <span th:if="${isNotNumber}">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                     class="bi bi-exclamation-circle-fill" viewBox="0 0 16 16">
                    <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8 4a.905.905 0 0 0-.9.995l.35 3.507a.552.552 0 0 0 1.1 0l.35-3.507A.905.905 0 0 0 8 4zm.002 6a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"/>
                </svg>
                Некорректное значение
            </span>
                </div>
                <div class="field">
                    <label>Изображение: </label>
                    <input type="file" name="photo" class="form-control-file file" accept="image/*">
                    <span th:if="${imageIsEmpty}">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                     class="bi bi-exclamation-circle-fill" viewBox="0 0 16 16">
                    <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8 4a.905.905 0 0 0-.9.995l.35 3.507a.552.552 0 0 0 1.1 0l.35-3.507A.905.905 0 0 0 8 4zm.002 6a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"/>
                </svg>
                Загрузите фотографию
            </span>
                </div>
                <div class="buttons">
                    <button class="btn btn-outline-dark float-left" type="submit">Сохранить</button>
                </div>
            </form>
            <form th:action="'/admin/product/remove/' + ${product.id}" method="post" class="buttons">
                <button class="btn btn-outline-dark float-right" type="submit">Удалить</button>
            </form>
        </div>

    </div>
    </form>
</div>
</div>

</body>
</html>